.auth-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 200px 75px;
    border: 1px solid #cecece;
    border-radius: 8px;
    background-color: #181818;
  }
  
  .auth-form-container {
    padding: 10px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .auth-form form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .auth-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .toggle-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .toggle-link span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .toggle-link span:hover {
    color: #0056b3;
  }
  